      .home-header {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #1ca8dd;
  background-image: linear-gradient(to bottom, #137499, #1ca8dd);
        
         h1 {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
      }
      
      p {
  font-weight: 300;
  line-height: 1.4;
  color: #9fdcf3;
      }
      }
      
      
  @media (min-width: 768px) {
        .home-header {
  font-size: 24px;
          h1 {
  font-size: 60px;
        }
        }
      }
      
      .home-body {
          & > h1 {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid #434857;
      }
      
      .stats-box .statcard .statcard-number{
  margin-top: 10px;
    }
  
    }



