.graph-container {
    
    border-radius: 15px;
    border: 5px solid #1c9fdd;
    
 .slot-name,.slot-legend {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    }

.slot-legend {
    font-size:14px;
}    
    
	
}