.ticket-card-container {
  text-transform: uppercase;
  text-align: center;
  
  .statcard-number {
  margin-bottom: 35px;
}

.name-slot {
  margin-top: 35px;
}

.parking-status-indicator {
  padding: 15px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold !important;
    
     .icon {
  margin-right:8px;
}

}

}



